body {
  margin: 0;
  background: transparent;
}

#container {
  background: transparent;
  padding: 10px;
  display: flex;
  gap: 8px;
  cursor: grab;
}

#container:active {
  cursor: grabbing;
}

button {
  font-size: 13px;
  background: #3a3a3a;
  border: none;
  color: white;
  padding: 8px 10px;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.2s;
  -webkit-app-region: no-drag;
  min-width: 36px;
  height: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 1;
}

button:hover {
  background: #505050;
}
