<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>

    <link rel="stylesheet" href="/src/styles/floater.css" />
  </head>
  <body>
    <div id="circle">
      <div id="dragArea"></div>
      <button id="pauseBtn">Pause</button>
      <button id="editBtn">Edit</button>
      <button id="closeBtn">Close</button>
    </div>
    <script type="module" src="/src/scripts/floater.js"></script>
  </body>
</html>
