:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #0f0f0f;
  background-color: #f6f6f6;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

html {
  margin: 0;
  overflow: hidden;
  height: 100%;
}

body {
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  height: 100%;
}

h1 {
  text-align: center;
  margin: 1.5rem 0;
}

main {
  flex: 1;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

#settings {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 1rem 2rem;
  padding: 2rem 3rem;
  max-width: 600px;
  width: 80%;
  margin: auto;
}

.selectBox {
  width: 100%;
  max-width: 400px;
  font-weight: bold;
  outline: none;
}

label {
  display: flex;
  justify-content: flex-start;
  padding-right: 0.5rem;
  align-items: center;
  font-weight: bold;
  font-family: inherit;
}

.row {
  display: flex;
  justify-content: center;
}

#greet-form {
  margin-top: 1rem;
}



select, input,
button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6rem 1.2rem;
  font-size: 1rem;
  font-weight: 500;
  font-family: inherit;
  color: #0f0f0f;
  background-color: #ffffff;
  transition: border-color 0.25s;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
}

button {
  cursor: pointer;
}

button:hover {
  border-color: #396cd8;
}
button:active {
  border-color: #396cd8;
  background-color: #e8e8e8;
}

input,
button {
  outline: none;
}

footer {
  text-align: center;
  padding: 1rem 0;
}

footer p {
  font-size: 0.8rem;
  text-align: center;
}

@media (prefers-color-scheme: dark) {
  :root {
    color: #f6f6f6;
    background-color: #2f2f2f;
  }

  input,
  button {
    color: #ffffff;
    background-color: #0f0f0f98;
  }
  button:active {
    background-color: #0f0f0f69;
  }
}


.fv {
  display: flex;
  flex-direction: row;
}

.fh {
  display: flex;
  flex-direction: column;
}